version: "3.9"

services:
  auth:
    build: .
    container_name: auth-service
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: auth-redis
    ports:
      - "6379:6379"
